.jumbotron {
   background-image: url('../assets/macbook.webp');
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: cover;
   /*width: auto;*/
   height: 890px;
   font-family: 'Playfair Display', serif;
}

.jumbotron-fluid {
   background-image: url('../assets/macbook.webp');
   background-repeat: no-repeat;
   background-position: bottom;
   background-size: cover;
   /*width: auto;*/
   height: 890px;
   font-family: 'Playfair Display', serif;
}

.display-4 {
   font-size: 90px;
}

.lead {
   font-size: 30px;
   font-style: oblique;
}

.col-md-12 {
   padding-left: 200px;
}





